# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db

# Uploads
uploads/*
!uploads/.gitkeep

# ML Models
app/ml/models/*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
